.item_card {
    width: 328px;
    height: 423px;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    padding-bottom: 2%;
    .description {
      margin-left: 20%;
      font-size: large;
      .price {
        font-weight: bold;
      }
    }
  }
  .container {
    width: 91%;
    margin: 0 auto;
    padding: 3% 0 3% 0;
    .items_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  