.catalog{
  &_title{
    width: 169px;
    height: 45px;
    font-weight: bold;
  }
  &__container{
    width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  height: 350px;
  padding: 50px 0 0;

}
  &__text{
    text-align: center;  
    color: black;
    transition: .5s;
    &:hover{
      transition: .5s;
      color: darkgrey;
      cursor: pointer;
    } 
  }
  &__down{
    padding: 30px 0 0;

  }
 
}

.Catalog{
    display: flex; 
    flex-wrap: wrap; 
    gap: 45px;
    &__search{
      padding-left: 44px;
      padding-bottom: 25px;
      display: flex; 
      flex-wrap: wrap; 
      gap: 70px;
    }
}

.catalog2{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
}

.form{
  width: 100%;
  max-width: 400.66px;
  height: 47px;
  position: relative;
}

.form__field{
  width: 100%;
  height: 47px;
  border-color: 5px solid gray;
  background-color: rgb(229,229,229);
  padding-left: 18px;

}

.button{
  width: 70px;
  height: 47px;
  background-color: #333333;
  cursor: pointer;
  &_form{
    position: absolute;
  }
}



