* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scrollbar-width: none; /* Убираем ширину полосы */
}
/* Вы можете указать цвет полосы (это работает в браузерах, которые поддерживают scrollbar-color) */
body::-webkit-scrollbar {
  width: 0; /* ширина полосы прокрутки */
}
.slider {
  background-image: url(./../../../public/images/main/main_bg1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  .global {
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    .main {
      width: 89%;
      h1 {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      hr {
        border: 1.6px solid white;
        width: 45%;
        margin: 1.5% 0 1.5% 0;
      }
      p {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 2%;
      }
      .catalog {
        background-color: #9d8053;
        border: none;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 50px;
        width: 150px;
        margin-right: 2%;
      }
      .application {
        background-color: #333333;
        border: 1px solid #fff;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 50px;
        width: 235px;
      }
    }
    .right_side {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        margin-top: 25%;
        backdrop-filter: blur(2px);
        color: white;
        background-image: url(./../../../public/images/main/arrow_left.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
      }
      .next_btn {
        background-image: url(./../../../public/images/main/arrow_right.png);
      }
    }
  }
  .global2 {
    background-color: lightgrey;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background-image: url(./../../../public/images/main/main_bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .main {
      width: 89%;
      h1 {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      hr {
        border: 1.6px solid white;
        width: 45%;
        margin: 1.5% 0 1.5% 0;
      }
      p {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 2%;
      }
      .catalog {
        background-color: #9d8053;
        border: none;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 40px;
        width: 150px;
        margin-right: 2%;
      }
      .application {
        background-color: #333333;
        border: 1px solid #fff;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 40px;
        width: 250px;
      }
    }
    .right_side {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        margin-top: 25%;
        backdrop-filter: blur(2px);
        color: white;
        background-image: url(./../../../public/images/main/arrow_left.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
      }
      .next_btn {
        background-image: url(./../../../public/images/main/arrow_right.png);
      }
    }
  }
  .global3 {
    background-color: lightgrey;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background-image: url(./../../../public/images/main/main_bg3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .main {
      width: 89%;
      h1 {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      hr {
        border: 1.6px solid white;
        width: 45%;
        margin: 1.5% 0 1.5% 0;
      }
      p {
        color: white;
        white-space: pre-line;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 2%;
      }
      .catalog {
        background-color: #9d8053;
        border: none;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 40px;
        width: 150px;
        margin-right: 2%;
      }
      .application {
        background-color: #333333;
        border: 1px solid #fff;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 40px;
        width: 250px;
      }
    }
    .right_side {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        margin-top: 25%;
        backdrop-filter: blur(2px);
        color: white;
        background-image: url(./../../../public/images/main/arrow_left.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
      }
      .next_btn {
        background-image: url(./../../../public/images/main/arrow_right.png);
      }
    }
  }
}
